@import url(./variables.css);

/*--------------- CONTACT FORM ---------------*/

#contact-form-container {
    width: 100%;
    color: var(--dark-color);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content auto max-content;
    grid-column-gap: 3rem;
    grid-template-areas:
        "header header"
        "select radio"
        "info info"
        "footer footer";
        width: clamp(300px, 1000px);
    margin: 0 20px;
}



h1 {
    color: var(--text-color);
    font-size: 3rem;
    text-align: center;
    height: 50px;
    grid-area: header;
    margin-bottom: 100px;
}

#reden-contact-options {
    grid-area: select;
    height: 100px;
}

#categorie-radio-buttons {
    grid-area: radio;
}

#info-form {
    display: flex;
    flex-direction: column;
    grid-area: info;
}

#input-button-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    height: 30px;
    width: auto;
    grid-area: footer;
}

fieldset {
    border: none;
    width: 100%;
}

label {
    font-size: 1.2rem;
}
select {
    width: 200px;
}
input,
textarea,
select {
    border-radius: var(--border-radius);
    box-shadow: none;
    border: none;
    outline: none;
    padding: 3px 5px;
    height: 30px;
}

.input-button {
    scale: 1.5;
    cursor: pointer;
    padding: 5px 10px;
    background: var(--light-color);
    border: var(--dark-color) 1px solid;
    color: var(--dark-color);
    &:hover {
        background: var(--dark-color);
        color: var(--light-color);
        scale: 1.7;
    }
}

/*--------------- MEDIA QUERIES ---------------*/

@media only screen and (max-width: 30em) {
   form {
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "select"
    "radio"
    "info"
    "footer";
    justify-items: center;
   }
   fieldset {
    margin: 0 auto;
   }
}
