@import url(./variables.css);


/*--------------- CONTACT FORM ---------------*/

#info-form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
    color: var(--primary-color);
}

label {
    margin: 15px 0 5px 0;
}

input, textarea, select {
    border-radius: var(--border-radius);
    box-shadow: none;
    border: none;
    outline:none;
    padding: 3px 5px;
}

.input-button {
    scale: 1.5;
    cursor: pointer;
    gap: 10px;
    padding: 5px;
    background: var(--primary-color);
}

.input-button:hover {
    background: var(--light-color);
}


#input-button-container {
    display: flex;
    justify-content: space-around;
}