@import url(./variables.css);

/*--------------- PRODUCTS ---------------*/

h2 {
    color: var(--dark-color);
    font-family: "Reenie Beanie", serif;
    font-size: 3rem;
    margin-bottom: -20px;
    text-align: left;
    width: 70%;
}

.products {
    .product-img {
        background: var(--primary-color);
        border-radius: var(--border-radius);
        height: 150px;
        width: 200px;
        background-size: cover;
    }

}

.products article,
#categories article {
    position: relative;
    border-radius: var(--border-radius);
    height: 230px;
    width: 200px;
    color: var(--text-color);
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

.product-discription {
    height: 80px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: -15px;
}

/*--------------- CATEGORY IMAGES ---------------*/

#halloween-img {
    background-image: url("./images/halloween/halloween.jpg");
}
#accessoires-img {
    background-image: url("./images/accessories.png/accessories.png");
}
#sport-img {
    background-image: url("./images/outdoors/sports.png");
}
#hamster-img {
    background-image: url("./images/hamsters/fancyhamster.png");
}

/*--------------- CATEGORY IMAGES ---------------*/

#highlight-img-1 {
    background-image: url("./images/halloween/vampire.png");
}
#highlight-img-2 {
    background-image: url("./images/outdoors/checkers.png");
}
#highlight-img-3 {
    background-image: url("./images/outdoors/swimsuit.png");
}
#highlight-img-4 {
    background-image: url("./images/hamsters/raincoat.png");
}
#highlight-img-5 {
    background-image: url("./images/accessories.png/beanie.png");
}

/*--------------- SECTION 1 IMAGES ---------------*/

#product-img-1 {
    background-image: url("./images/halloween/astronaut.png");
}
#product-img-2 {
    background-image: url("./images/halloween/chucky.png");
}
#product-img-3 {
    background-image: url("./images/halloween/goku.png");
}
#product-img-4 {
    background-image: url("./images/halloween/vampire.png");
}
#product-img-5 {
    background-image: url("./images/halloween/darthvader.png");
}

/*---------------SECTION 2 IMAGES ---------------*/

#product-img-6 {
    background-image: url("./images/accessories.png/bandana.png");
}
#product-img-7 {
    background-image: url("./images/accessories.png/beanie.png");
}
#product-img-8 {
    background-image: url("./images/accessories.png/bowtie.png");
}
#product-img-9 {
    background-image: url("./images/accessories.png/socks.png");
}
#product-img-10 {
    background-image: url("./images/accessories.png/sunglasses.jpg");
}

/*---------------SECTION 3 IMAGES ---------------*/

#product-img-11 {
    background-image: url("./images/hamsters/kimono.png");
}
#product-img-12 {
    background-image: url("./images/hamsters/raincoat.png");
}
#product-img-13 {
    background-image: url("./images/hamsters/sweater.png");
}
#product-img-14 {
    background-image: url("./images/hamsters/vacation.png");
}
#product-img-15 {
    background-image: url("./images/hamsters/viking.png");
}

/*---------------SECTION 4 IMAGES ---------------*/

#product-img-16 {
    background-image: url("./images/outdoors/swimsuit.png");
}
#product-img-17 {
    background-image: url("./images/outdoors/checkers.png");
}
#product-img-18 {
    background-image: url("./images/outdoors/football.png");
}
#product-img-19 {
    background-image: url("./images/outdoors/lifevest.png");
}
#product-img-20 {
    background-image: url("./images/outdoors/golf.png");
}


/*--------------- MEDIA QUERIES ---------------*/

    @media only screen and (max-width: 30em){
        h2 {
            width: 80%;
        }
    }

