:root {
    --primary-color: rgb(251, 205, 249);
    --secondary-color: rgb(250, 233, 248);
    --text-color: rgb(56, 55, 55);
    --border-radius: 6px;
}

.products {
    margin-bottom: 5rem;
}
.products article, #categories article {
    position: relative;
    border-radius:  var(--border-radius);
    height: 300px;
    width: 300px;
    background: var(--primary-color);
    border: solid 6px var(--primary-color);
}

.product-img {
    background: var(--secondary-color);
    border-radius: var(--border-radius);
    height: 200px;
    width: 300px;
}


/*--------------- IMAGES ---------------*/

#halloween-img {
    background-image: url("./images/halloween/halloween.jpg");
    background-size: cover;
}
#accessoires-img {
    background-image: url("./images/accessories.png/accessories.png");
    background-size: cover;
}
#sport-img {
    background-image: url("./images/outdoors/sports.png");
    background-size:cover;
}
#brunch-img {
    background-image: url("./images/teatime/fancy.png");
    background-size: cover;
}
