@import url(./variables.css);
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

/*--------------- GENERAL ---------------*/

html, body {
    margin: 0;
  }

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: var(--light-color);
    font-family: "Delius Swash Caps", serif;
}

button {
    border-radius: 40%;
    border: solid var(--primary-color) 1px;
    background: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    &:hover {
        background: var(--dark-color);
        cursor: pointer;
        color: var(--text-color);
    }
}

section {
    position: relative; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 20px 0 50px 0;
    padding: 20px;
    gap: 20px;
    > article > a {
        position: absolute;
        bottom: 40px;
        left: 20px;
        font-size: 1.2rem;
        text-decoration: none;
        color: var(--text-color);
        &:hover {
            color: var(--dark-color);
        }
    }
}

/*--------------- HEADER ---------------*/

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    > nav ul {
        display: flex;
        list-style: none;
        align-items: center;
        > li {
            margin: 0 20px;
            > a {
                text-decoration: none;
                color: #58c1b0;
                font-weight: 500;
                &:hover {
                    color: var(--text-color);
                }

            }
        }
    }
}

a.active {
    color: var(--text-color);
}

#logo {
    height: 50px;
}

#search {
    height: 30px;
    width: 30px;
}


/*--------------- MAIN ---------------*/

#home {
    position: relative;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--primary-color);
    color: var(--text-color);
    > #home-img {
        height: 500px;
    }
}

#waarom-ons {
    font-size: 1.2rem;
    width: 600px;
    height: 60%;
    padding: 20px;
}

#icon-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 40px;
}

.animal-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
    gap: 10px;
    &:hover {
        color: var(--dark-color);
    }
}

#competition {
    background: var(--dark-color);
    justify-content: center;
    color: var(--light-color);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    > table {
        border: 2px solid var(--light-color);
        width: 30%;
        text-align: center;
        > tr, td {
            padding: 15px;
            border: 2px solid var(--light-color);
        }
    }
    
}
tr {
    border: 2px solid var(--text-color);
}

#chat {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 10px;
    size: 100px;
}


/*--------------- FOOTER ---------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 50px;
    height: auto;
    color: var(--text-color);
}

/*--------------- MEDIA QUERIES ---------------*/

@media only screen and (max-width: 60em){
    #home-img {
        display: none;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    }
    @media only screen and (max-width: 30em){
     
        #waarom-ons {
            font-size: 1rem;
        }
    }