@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
    --primary-color: rgb(251, 205, 249);
    --secondary-color: rgb(54, 100, 116);
    --third-color: rgb(250, 233, 248);
    --text-color: rgb(56, 55, 55);
    --border-radius: 6px;
}

html, body {
    margin: 0;
    background: var(--secondary-color);
  }

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-family: "Roboto";
    color: var(--text-color);
}

header {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: var(--third-color);
    font-weight: 500;
}

a:hover {
    color: var(--primary-color);
}

a.on {
    color: var(--primary-color);
}

#logo {
    height: 50px;
}
#search {
    height: 30px;
    width: 30px;
}

button {
    border-radius: 40%;
    border: solid var(--primary-color) 1px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

button:hover {
    background: var(--primary-color);
    cursor: pointer;
    color: var(--text-color);
}

h1 {
    font-size: 3rem;
    width: 45%;
    font-weight: lighter;
}


img {
    border-radius: 20px;
    object-fit: cover;
    height: 300px;
}

section {
    position: relative; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 94%;
    margin: 20px 0;
    padding: 20px;
    gap: 20px;
}

section article a {
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 1.5rem;
}

#home {
    position: relative;
    margin: 0;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#home img {
height: auto;
width: auto;
}


#waarom-ons {
    padding: 10px 20px;
    border-radius:  var(--border-radius);
    color: lightgrey;
    font-size: 1.1rem;
    width: 600px;
    height: 50%;
}

#chat {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 10px;
    size: 100px;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 50px;
    width: auto;
    height: auto;
    color: lightgrey;
}

@media only screen and (max-width: 60em){

}

@media only screen and (max-width: 30em){
  
}