@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

:root {
    --primary-color: #fcebf1;
    --light-color: #ddf0f0;
    --dark-color: #98d2cd;
    --text-color: #eea3b8;
    --border-radius: 6px;
}